body {
    color: #fff1b5;
    background-color:#16021f;
    font-family: 'Courier New', Courier, monospace;
  }
  
h1 {
    border-bottom: 2px solid #67168d;
    padding-bottom: 15px;
    padding-top: 10px ;
  }
